@model string
@{
    ViewData["Title"] = "CREATE ROLE";
}

<h1 class="h2">Create a Role</h1>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">Role Name</label>
        <input name="name" class="form-control" />
    </div>
    <a asp-action="Index" class="btn btn-warning">Back</a>
    <button type="submit" class="btn btn-success">Create</button>
</form>
